html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.parallax {
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
  .caption {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 25px;
    letter-spacing: 10px;
    
    span {
      padding: 18px;
      background-color: #f7f7f7;
    }
    
    span.less-height,
    span.scroll-up,
    .cool {
      font-size: 25px;
      color: #f7f7f7;
      background-color: transparent;
      text-transform: uppercase;
    }
    
    span.cool {
      background-color: #f7f7f7;
    }
  }
  
  &.first-image {
    height: 100%;
    background-image: url("iphone13.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  &.second-image {
    background-image: url("2iphone13.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
  }
  
  &.third-image {
    background-image: url("iphone13Mini.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
  }

  &.fourth-image {
   background-image: url("iphone13Mini2.png");
   background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   height: 100%;
  }
}

.parallax-demo {
  color: #777;
  background-color: white;
  padding: 50px 80px;
  text-align: justify;
}
p {
  text-align: center;
  font-family: 12px Arial, Helvetica, sans-serif;
  color: #111;
  letter-spacing: 2px;
}
h4 {
  text-transform: uppercase;
  text-align: center;
  font: 16px "Lato", sans-serif;
  color: #111;
  letter-spacing: 5px;
}
h3 {
  text-transform: uppercase;
  text-align: center;
  font: 20px "Lato", sans-serif;
  color: #111;
  letter-spacing: 5px;
}
h2 {
    text-transform: uppercase;
    text-align: center;
    font: 20px "Lato", sans-serif;
    color: #ffffff;
    letter-spacing: 5px;
  }
.second-text,
 .third-text {
  color: #ddd;
  background-color: #f7f7f7;
  padding: 50px 80px;
}

img
{
  position: center;
	top: 50%;
	left: 50%;
	margin-top: -110px;
	margin-left: 0px;
	text-align: center;
}