@import "compass/css3";

* {
  margin:0;
  padding:0;
}

@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700);

html, body {
  height: 100%;
}*

body {
  text-align:center;
  font-family: 'Droid Sans', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.wrap {
  width:60%;
  margin:0 auto;
  text-align:left;
  color:#989A8F;
}

.table {
  background-color:#ffffff; 
  height:350px;
  width:100%;
  margin-top:0%;  
}

ul li {
  float: left;
  width:24.9%;
  text-align:center;
  border-left:1px solid #DDDCD8;
}

.top {
  background-color:#EAE9E4;
  height:20%;
}
.circle {
  width: 50%;
  height:20%;
  border-radius:50%;
  font-size:20px;
  color:#fff;
  line-height:300%;
  text-align:center;
  background:#989A8F;
  margin-left:30%;
  margin-top:2%;
}

.bottom {
margin-top:1%;
  p {
     font-size:20px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     padding:25px;
     text-align: left;
    span {
     font-weight:bold;
    }
  }
}

.sign {
  margin-top:20%;
    .button {
   border: 1px solid #989A8F;
   padding: 10px 40px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   color: #989A8F;
   font-size: 12px;
   text-decoration: none;
   vertical-align: middle;
    font-size:12px;
   }
}

.purple {
  background-color:#5D4660;   
}

.white {
 color:#FFFFFF; 
}

.pink {
  background-color:#BC9B94;
}


body, .button:after {
    background: #000000;
}

.parallax {
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
  .caption {
    position: absolute;
    top: 47%;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 25px;
    letter-spacing: 10px;
    
    span {
      padding: 18px;
      background-color: #f7f7f7;
    }
    
    span.less-height,
    span.scroll-up,
    .cool {
      font-size: 25px;
      color: #f7f7f7;
      background-color: transparent;
      text-transform: uppercase;
    }
    
    span.cool {
      background-color: #f7f7f7;
    }
  }
  
  &.first-image {
    height: 100%;
    background-image: url("ios17.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  &.second-image {
    background-image: url("ios15.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
  }
  
  &.third-image {
    background-image: url("ios14.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
  }

  &.fourth-image {
   background-image: url("ios13.jpeg");
   background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   height: 100%;
  }
}

.parallax-demo {
  color: #777;
  background-color: white;
  padding: 50px 80px;
  text-align: justify;
}
p {
  text-transform: uppercase;
  text-align: center;
  font: 10px "Lato", sans-serif;
  color: #111;
  letter-spacing: 5px;
}
h4 {
  text-transform: uppercase;
  text-align: center;
  font: 16px "Lato", sans-serif;
  color: #111;
  letter-spacing: 5px;
}
h3 {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  letter-spacing: 5px;
  font-family: 20px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
    text-align: center;
    color: #000000;
    letter-spacing: 5px;
    font-family: 16px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.second-text,
 .third-text {
  color: #ddd;
  background-color: #f7f7f7;
  text-transform: uppercase;
  text-align: center;
}

.wrapp {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -65px;
	margin-left: -110px;
	text-align: center;
}

a {
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	margin: 20px auto;
	max-width: 180px;
	text-decoration: none;
	border-radius: 4px;
	padding: 20px 30px;
}

a.buttonn {
	color: rgb(255, 255, 255);
	box-shadow: rgb(255, 255, 255) 0 0px 0px 2px inset;
}

a.buttonn:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(203, 15, 216, 0.51) 0 0px 0px 40px inset;
}

img
{
  position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -65px;
	margin-left: -80px;
	text-align: center;
}